<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 租房公房池 -->
<mapper namespace="cn.gson.room_store.model.mapper.renthouse.RentalpublicpoolsMapper">
    <resultMap id="rentalpublicpools" type="cn.gson.room_store.model.pojos.renthouse.Rentalpublicpools">
        <id column="repp_no" property="reppNo" />
        <result column="repp_reho_no" property="reppRehoNo" />
        <result column="repp_money" property="reppMoney" />
        <result column="repp_date" property="reppDate" />
        <association property="rentalhousing" javaType="cn.gson.room_store.model.pojos.renthouse.Rentalhousing">
            <id column="reho_no" property="rehoNo" />
            <result column="reho_number" property="rehoNumber" />
            <result column="reho_site" property="rehoSite" />
            <result column="reho_community" property="rehoCommunity" />
            <result column="reho_unit" property="rehoUnit" />
            <result column="reho_building" property="rehoBuilding" />
            <result column="reho_floornumber" property="rehoFloornumber" />
            <result column="reho_livefewfloor" property="rehoLivefewfloor" />
            <result column="reho_roomnumber" property="rehoRoomnumber" />
            <result column="reho_coveredarea" property="rehoCoveredarea" />
            <result column="reho_insidespace" property="rehoInsidespace" />
            <result column="reho_housetype" property="rehoHousetype" />
            <result column="reho_orientation" property="rehoOrientation" />
            <result column="reho_elevator" property="rehoElevator" />
            <result column="reho_housingtypes" property="rehoHousingtypes" />
            <result column="reho_ladder" property="rehoLadder" />
            <result column="reho_households" property="rehoHouseholds" />
            <result column="reho_certcate_cover" property="rehoCertcateCover" />
            <result column="reho_certcate_backcover" property="rehoCertcateBackcover" />
            <result column="reho_certcate_qsy" property="rehoCertcateQsy" />
            <result column="reho_certcate_familypage" property="rehoCertcateFamilypage" />
            <result column="reho_rentouttitle" property="rehoRentouttitle" />
            <result column="reho_rent" property="rehoRent" />
            <result column="reho_payway" property="rehoPayway" />
            <result column="reho_fitmenttype" property="rehoFitmenttype" />
            <result column="reho_shortestlease" property="rehoShortestlease" />
            <result column="reho_suppfacility" property="rehoSuppfacility" />
            <result column="reho_houslabel" property="rehoHouslabel" />
            <result column="reho_housremark" property="rehoHousremark" />
            <result column="reho_genjindate" property="rehoGenjindate" />
            <result column="reho_xcgenjindate" property="rehoXcgenjindate" />
            <result column="reho_date" property="rehoDate" />
            <result column="reho_shelf" property="rehoShelf" />
            <result column="reho_gfczt" property="rehoGfczt" />
            <result column="reho_good_room" property="rehoGoodRoom" />
            <result column="reho_users_no" property="rehoUsersNo" />
            <result column="reho_zhutu" property="rehoZhutu" />
            <result column="reho_weituo" property="rehoWeito" />
        </association>
    </resultMap>


    <!-- 多条件模糊查询租房公房池 -->

    <select id="findAllRentalpublicpools" resultMap="rentalpublicpools">
        select * from rentalpublicpools p inner join rentalhousing r on p.repp_reho_no = r.reho_number
    </select>

    <!-- 查询租房公房池推荐客源 -->
    <select id="findRentalpublicpoolsAndCustomers" resultMap="customers">
        select * from customers where secondary_number = #{param}
    </select>

    <!-- 租房公房池推荐客源 完成跟进、无效 -->
    <update id="updateRentalpublicpoolsKYCZ">
        update customers set customers_state = #{customersState} where customers_id = #{secondaryNumber}
    </update>

    <!-- 新增公房池推荐客源 -->
    <update id="insertRentalpublicpoolsKy" parameterType="cn.gson.room_store.model.pojos.secondary.Customers">
        insert into customers(secondary_number,customers_name,customers_phone) values
                    (#{secondaryNumber},#{customersName},#{customersPhone})
    </update>

    <!-- 移出公房池 -->
    <delete id="deleteRentalpublicpoolsByReppRehoNo" parameterType="cn.gson.room_store.model.pojos.renthouse.Rentalpublicpools">
        delete from rentalpublicpools where repp_reho_no = #{reppRehoNo}
    </delete>

    <!-- 移入公房池 -->
    <insert id="insertRentalpublicpools" parameterType="cn.gson.room_store.model.pojos.renthouse.Rentalpublicpools">
        insert into rentalpublicpools(repp_reho_no,repp_money) values(#{reppRehoNo},#{reppMoney})
    </insert>


    <resultMap id="customers" type="cn.gson.room_store.model.pojos.secondary.Customers">
        <id column="customers_id" property="customersId" />
        <result column="secondary_number" property="secondaryNumber" />
        <result column="customers_name" property="customersName" />
        <result column="customers_phone" property="customersPhone" />
        <result column="customers_date" property="customersDate" />
        <result column="customers_state" property="customersState" />
    </resultMap>
</mapper>