<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.room_store.model.mapper.statistical.LoginMapper">
<resultMap id="usersMapper" type="cn.gson.room_store.model.pojos.secondary.Users">
    <id column="user_id" property="userID"/>
    <result column="user_name" property="userName"/>
    <result column="user_phone" property="UserPhone"/>
    <result column="user_pass" property="userPass"/>
    <result column="user_shop_name" property="userShopName"/>
    <result column="user_portait" property="userPortait"/>
    <result column="user_card" property="userCard"/>
    <result column="user_province" property="userProvince"/>
    <result column="user_city" property="userCity"/>
</resultMap>
    <!-- 查询二手房带看记录 根据房源编号查询 -->
    <select id="login" resultMap="usersMapper">
        select * from users where user_phone=#{phone} and user_pass=#{pass}
    </select>
    <select id="findIDPhone" resultType="_int">
        select count(*) from users where user_phone=#{phone}
    </select>
</mapper>