<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.room_store.model.mapper.customers.DemandFloorMapper">
  <resultMap id="BaseResultMap" type="cn.gson.room_store.model.pojos.customers.DemandFloorKey">
    <id column="floor_id" jdbcType="INTEGER" property="floorId" />
    <id column="demand_id" jdbcType="INTEGER" property="demandId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="cn.gson.room_store.model.pojos.customers.DemandFloorKey">
    delete from demand_floor
    where floor_id = #{floorId,jdbcType=INTEGER}
      and demand_id = #{demandId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="floor_id" keyProperty="floorId" parameterType="cn.gson.room_store.model.pojos.customers.DemandFloorKey" useGeneratedKeys="true">
    insert into demand_floor (demand_id)
    values (#{demandId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="floor_id" keyProperty="floorId" parameterType="cn.gson.room_store.model.pojos.customers.DemandFloorKey" useGeneratedKeys="true">
    insert into demand_floor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="demandId != null">
        demand_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="demandId != null">
        #{demandId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <insert id="batchAdd" parameterType="java.util.List">
    insert into demand_floor values
    <foreach collection="list" item="p" index="i" separator=",">
      (#{p.floorId},#{p.demandId})
    </foreach>
  </insert>
  <select id="SelectedFloorIntentionList" resultType="java.lang.Integer">
    select floor_id from demand_floor where demand_id=#{demandId}
  </select>

  <delete id="deleteBydemandId">
    delete from demand_floor
    where demand_id = #{demandId,jdbcType=INTEGER}
  </delete>
</mapper>